# Intro notebook
The purpose of this notebook is to connect to a local database that we created by loading CSV files into that database.
Copy / paste this notebook into other places to add / delete cells and add new analysis.

In [26]:
import os
print(os.getcwd())

/Users/beoconno/Documents/ff/ff_data/notebooks/nfl

In [27]:
from pathlib import Path

In [180]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [182]:
# Define your database file path (SQLite example)
rel_db_path = Path.cwd().parent.parent / 'db_output' / 'nfl.db'
db_file_path = rel_db_path.resolve()
db_string = f"sqlite:///{db_file_path}"
%sql $db_string

In [283]:
%%sql
SELECT
    *,
    ROW_NUMBER() OVER(PARTITION BY team_id, position ORDER BY fppg_ppr DESC) AS pos_rank,
    CASE
        WHEN position IN ("QB", "TE") AND
            ROW_NUMBER() OVER(PARTITION BY team_id, position ORDER BY fppg_ppr DESC) = 1
            THEN fppg_ppr
        WHEN position IN ("RB", "WR") AND
            ROW_NUMBER() OVER(PARTITION BY team_id, position ORDER BY fppg_ppr DESC) <= 2
            THEN fppg_ppr
        WHEN position IN ("TE", "RB", "WR") AND
            ROW_NUMBER() OVER(PARTITION BY team_id, position ORDER BY fppg_ppr DESC) > 2
            THEN fppg_ppr
        ELSE 0
        END AS team_score
FROM draft_combos_dr10
WHERE 1=1
    AND team_id = 3
LIMIT 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/db_output/nfl.db
   sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('josh allen', 'QB', 17, 23.09, '3', 3, 1, 23.09),
 ('lamar jackson', 'QB', 16, 20.7, '4', 3, 2, 0),
 ('patrick mahomes', 'QB', 16, 17.51, '2', 3, 3, 0),
 ('bijan robinson', 'RB', 17, 14.49, '1', 3, 1, 14.49),
 ('jk dobbins', 'RB', 1, 11.7, '5', 3, 2, 11.7)]

In [273]:
%%sql
SELECT
    c_year AS year,
    c_pos AS position,
    CASE
        WHEN adp_pos_rank <= 3 THEN '1-3'
        WHEN adp_pos_rank <= 10 THEN '4-10'
        ELSE
            CAST((((adp_pos_rank - 1) / 10) * 10 + 1) AS VARCHAR)
            || '-' ||
            CAST((((adp_pos_rank - 1) / 10) * 10 + 10) AS VARCHAR)
        END AS adp_bucket,
    MIN(adp_pos_rank) AS bucket_start,
    COUNT(1) AS player_cnt,
    ROUND(AVG(exp_fppg_ppr),2) AS avg_expected_ppr,
    ROUND(AVG(fppg_ppr),2) AS avg_actual_ppr,
    ROUND(AVG(pick_accuracy),2) AS avg_accuracy,
    MAX(pick_accuracy) AS biggest_surprise,
    MIN(pick_accuracy) AS worst_miss
FROM nfl_adp_hype
WHERE 1=1
    AND fppg_ppr IS NOT NULL
    AND adp_pos_rank IS NOT NULL
    AND exp_fppg_ppr IS NOT NULL
GROUP BY 1, 2, 3
ORDER BY adp_pos_rank
LIMIT 20

 * sqlite:////Users/beoconno/Documents/ff/ff_data/db_output/nfl.db
   sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('2016', 'QB', '1-3', 1, 3, 23.32, 19.19, -4.12, 1.13, -8.14),
 ('2016', 'RB', '1-3', 1, 3, 23.33, 19.86, -3.48, 2.66, -13.7),
 ('2016', 'WR', '1-3', 1, 3, 21.48, 19.2, -2.28, -1.49, -2.71),
 ('2017', 'QB', '1-3', 1, 3, 23.32, 17.8, -5.51, -4.13, -6.58),
 ('2017', 'RB', '1-3', 1, 3, 23.33, 17.42, -5.92, -0.06, -13.09),
 ('2018', 'QB', '1-3', 1, 3, 23.32, 19.28, -4.03, -1.89, -5.55),
 ('2018', 'TE', '1-3', 1, 3, 15.68, 15.34, -0.34, 3.12, -6.96),
 ('2018', 'WR', '1-3', 1, 3, 21.48, 20.54, -0.94, -0.37, -1.62),
 ('2019', 'RB', '1-3', 1, 3, 23.33, 21.99, -1.34, 8.37, -7.31),
 ('2019', 'TE', '1-3', 1, 3, 15.68, 15.38, -0.3, 0.3, -1.16),
 ('2019', 'WR', '1-3', 1, 3, 21.48, 19.68, -1.8, 3.38, -5.3),
 ('2020', 'WR', '1-3', 1, 3, 21.48, 19.84, -1.64, 4.39, -11.21),
 ('2021', 'QB', '1-3', 1, 3, 23.32, 22.14, -1.18, 1.06, -3.81),
 ('2021', 'RB', '1-3', 1, 3, 23.33, 17.38, -5.96, -3.03, -7.88),
 ('2022', 'RB', '1-3', 1, 3, 23.33, 18.73, -4.6, 0.84, -12.78),
 ('2022', 'WR', '1-3', 1, 3, 21.48, 21.42, -0.06, 0.48, -0.82),
 ('2023', 'QB', '1-3', 1, 3, 23.32, 20.53, -2.79, 0.47, -7.58),
 ('2023', 'TE', '1-3', 1, 3, 15.68, 14.26, -1.42, 0.2, -2.42),
 ('2016', 'TE', '1-3', 1, 4, 17.47, 10.05, -7.42, -1.44, -21.77),
 ('2017', 'WR', '1-3', 1, 3, 21.48, 18.8, -2.68, -1.04, -5.47)]

In [206]:
%%sql
SELECT
    c_year AS year,
    name || " (" 
        || c_pos || adp_pos_rank || " -> " ||
        c_pos || actual_pos_fin_fppg_ppr || ")" AS label,
    c_pos AS position,
    adp_pos_rank AS draft_rank,
    exp_fppg_ppr AS expected_ppg,
    fppg_ppr AS actual_ppg,
    pick_accuracy,
    CASE
        WHEN adp_pos_rank = actual_pos_fin_fppg_ppr THEN "lightgrey"
        WHEN ABS(pick_accuracy) < 2 THEN "lightgrey"
        WHEN CAST(adp_pos_rank AS INT) > CAST(actual_pos_fin_fppg_ppr AS INT) THEN "lightgreen"
        WHEN CAST(adp_pos_rank AS INT) < CAST(actual_pos_fin_fppg_ppr AS INT) THEN "lightcoral"
        ELSE "untagged"
        END AS accuracy_color
FROM nfl_adp_hype
WHERE 1=1
    AND c_pos IN ("QB", "WR", "RB", "TE")
    AND name LIKE 'antonio brown'
ORDER BY c_year ASC
LIMIT 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/db_output/nfl.db
   sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('2016', 'antonio brown (WR1 -> WR1)', 'WR', 1, 23.2, 20.49, -2.71, 'lightgrey'),
 ('2017', 'antonio brown (WR1 -> WR1)', 'WR', 1, 23.2, 22.16, -1.04, 'lightgrey'),
 ('2018', 'antonio brown (WR1 -> WR2)', 'WR', 1, 23.2, 21.58, -1.62, 'lightgrey'),
 ('2019', 'antonio brown (WR9 -> WR9)', 'WR', 9, 16.82, 16.1, -0.72, 'lightgrey'),
 ('2020', 'antonio brown (WR71 -> WR23)', 'WR', 71, 8.16, 14.64, 6.48, 'lightcoral'),
 ('2021', 'antonio brown (WR29 -> WR8)', 'WR', 29, 13.13, 17.3, 4.17, 'lightcoral')]

In [250]:
%%sql
SELECT
    year,
    position,
    label
FROM image_ep_1_accuracy_graph
WHERE 1=1
    AND LABEL != ''
LIMIT 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/db_output/nfl.db
   sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('2016', 'QB', 'cam newton<br>QB1 to 13 (-8.14) ppg'),
 ('2016', 'QB', 'matt ryan<br>QB19 to 2 (5.66) ppg'),
 ('2016', 'QB', 'tony romo<br>QB28 to 48 (-8.64) ppg'),
 ('2016', 'QB', 'mark sanchez<br>QB39 to 68 (-10.7) ppg'),
 ('2016', 'QB', 'matt moore<br>QB58 to 27 (11.11) ppg'),
 ('2016', 'QB', 'jacoby brissett<br>QB78 to 38 (9.58) ppg'),
 ('2016', 'RB', 'todd gurley<br>RB1 to 24 (-13.7) ppg'),
 ('2016', 'RB', 'adrian peterson<br>RB4 to 95 (-16.94) ppg'),
 ('2016', 'RB', 'jamaal charles<br>RB8 to 78 (-13.05) ppg'),
 ('2016', 'RB', 'jordan howard<br>RB62 to 9 (8.98) ppg')]

In [80]:
%%sql
SELECT
    adp_team,
    c_team,
    CASE
        WHEN team != team_year_prior AND team LIKE '%TM' THEN 'In season trade'
        WHEN team != team_year_prior THEN 'New team - ffy'
        ELSE ''
        END AS team_change,
    team_year_prior,
    team_next_year,
    name,
    c_year,
    yid
FROM nfl
WHERE NAME LIKE '%antonio brown%'
    OR NAME LIKE '%zack moss%'
    OR NAME LIKE '%ian mccaffrey%'
ORDER BY name, c_year ASC

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[(None, 'PIT', '', None, 'PIT', 'antonio brown', '2016', 1),
 (None, 'PIT', '', 'PIT', 'PIT', 'antonio brown', '2017', 2),
 (None, 'PIT', '', 'PIT', 'NWE', 'antonio brown', '2018', 3),
 (None, 'NWE', 'New team', 'PIT', 'TAM', 'antonio brown', '2019', 4),
 (None, 'TAM', 'New team', 'NWE', 'TAM', 'antonio brown', '2020', 5),
 ('TB', 'TAM', '', 'TAM', None, 'antonio brown', '2021', 6),
 ('SF', 'CAR', '', None, 'CAR', 'christian mccaffrey', '2017', 1),
 ('SF', 'CAR', '', 'CAR', 'CAR', 'christian mccaffrey', '2018', 2),
 ('SF', 'CAR', '', 'CAR', 'CAR', 'christian mccaffrey', '2019', 3),
 ('SF', 'CAR', '', 'CAR', 'CAR', 'christian mccaffrey', '2020', 4),
 ('CAR', 'CAR', '', 'CAR', '2TM', 'christian mccaffrey', '2021', 5),
 ('SF', '2TM', 'Trade', 'CAR', 'SFO', 'christian mccaffrey', '2022', 6),
 ('SF', 'SFO', 'New team', '2TM', 'SF', 'christian mccaffrey', '2023', 7),
 ('SF', 'SF', '', 'SFO', None, 'christian mccaffrey', '2024', 8),
 ('WAS', 'WAS', '', None, None, 'luke mccaffrey', '2024', 1),
 (None, 'JAX', '', None, 'SFO', 'max mccaffrey', '2017', 1),
 (None, 'SFO', 'New team', 'JAX', None, 'max mccaffrey', '2018', 2),
 ('CIN', 'BUF', '', None, 'BUF', 'zack moss', '2020', 1),
 ('BUF', 'BUF', '', 'BUF', '2TM', 'zack moss', '2021', 2),
 (None, '2TM', 'Trade', 'BUF', 'IND', 'zack moss', '2022', 3),
 ('CIN', 'IND', 'New team', '2TM', 'CIN', 'zack moss', '2023', 4),
 ('CIN', 'CIN', '', 'IND', None, 'zack moss', '2024', 5)]

In [56]:
%%sql
SELECT
    *
FROM hist_adp_perf
LIMIT 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[(1, 'QB', 'QB1', 25.09, 8),
 (1, 'RB', 'RB1', 26.09, 8),
 (1, 'TE', 'TE1', 17.05, 8),
 (1, 'WR', 'WR1', 23.2, 8),
 (2, 'QB', 'QB2', 22.62, 8),
 (2, 'RB', 'RB2', 22.83, 8),
 (2, 'TE', 'TE2', 15.59, 8),
 (2, 'WR', 'WR2', 21.21, 8),
 (3, 'QB', 'QB3', 22.24, 8),
 (3, 'RB', 'RB3', 21.08, 8)]

In [90]:
%%sql
SELECT
    name,
    adp_ovr,
    c_year,
    adp_pos,
    exp_fppg_ppr,
    prior_fppg_ppr,
    pick_hype,
    fppg_ppr,
    pick_accuracy,
    team_change,
    team_year_prior AS from_team,
    team AS to_team
    
FROM nfl_adp_hype
WHERE 1=1
    AND team_change LIKE 'New%'
    AND adp_ovr <= 30
    AND fantasy_pos IN ('QB', 'WR', 'RB')
ORDER BY c_year DESC, adp_ovr ASC
LIMIT 20

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('christian mccaffrey', 2.0, '2023', 'RB1', 26.09, 20.96, 5.13, 24.46, -1.63, 'New team - ffy', '2TM', 'SFO'),
 ('davante adams', 11.0, '2022', 'WR4', 19.28, 21.52, -2.24, 19.74, 0.46, 'New team - ffy', 'GNB', 'LVR'),
 ('tyreek hill', 20.0, '2022', 'WR7', 17.43, 17.44, -0.01, 20.42, 2.99, 'New team - ffy', 'KAN', 'MIA'),
 ('aj brown', 30.0, '2022', 'WR11', 16.34, 13.92, 2.42, 17.62, 1.28, 'New team - ffy', 'TEN', 'PHI'),
 ('josh jacobs', 13.0, '2020', 'RB10', 16.13, 14.74, 1.39, 15.42, -0.71, 'New team - ffy', 'OAK', 'LVR'),
 ('kenyan drake', 15.0, '2020', 'RB11', 15.55, 15.3, 0.25, 12.81, -2.74, 'New team - ffy', '2TM', 'ARI'),
 ('deandre hopkins', 16.0, '2020', 'WR5', 18.64, 17.9, 0.74, 17.99, -0.65, 'New team - ffy', 'HOU', 'ARI'),
 ('todd gurley', 30.0, '2020', 'RB16', 14.39, 14.63, -0.24, 10.88, -3.51, 'New team - ffy', 'LAR', 'ATL'),
 ('odell beckham', 13.0, '2019', 'WR5', 18.64, 19.19, -0.55, 12.58, -6.06, 'New team - ffy', 'NYG', 'CLE'),
 ('antonio brown', 22.0, '2019', 'WR9', 16.82, 21.58, -4.76, 16.1, -0.72, 'New team - ffy', 'PIT', 'NWE'),
 ('david johnson', 1.0, '2017', 'RB1', 26.09, 1.06, 25.03, 13.0, -13.09, 'New team - ffy', 'PIT', 'ARI'),
 ('melvin gordon', 10.0, '2017', 'RB5', 19.29, 19.28, 0.01, 18.01, -1.28, 'New team - ffy', 'SDG', 'LAC'),
 ('brandin cooks', 19.0, '2017', 'WR9', 16.82, 15.39, 1.43, 13.83, -2.99, 'New team - ffy', 'NOR', 'NWE')]

In [112]:
%%sql
SELECT *
FROM nfl_adp_hype
LIMIT 20

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('Aaron Burbridge', 473.0, None, 'WR170', 'WR', '170', '2016', 440.0, 3.0, '48', 'aaron burbridge', 422, 'Aaron Burbridge', 'SFO', 'WR', 23, 16, 3, 0, 0, 0, 0, 0, 0, 0, None, 0, 16, 7, 88, 12.57, 0, 1.0, 1, 0, None, None, 7.0, 13.8, 14.8, 10.3, None, 171, None, 'BurbAa00', '2016', 'Aaron Burbridge', 'false', 'false', 0.44, 2.33, 0.86, 10.5, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.438, 0.438, 0.0, 5.5, None, None, None, 'aaron burbridge', 'aaron burbridge', 'Aaron Burbridge', '2016', 'SFO', 'WR', '2016', '2016', 1, None, None, 0, 0, None, None, 183, 188, 165, 169, 8, 1.58, 1.58, -0.72, ''),
 ('Aaron Dobson', 483.0, None, 'WR175', 'WR', '175', '2016', 450.0, 3.0, '49', 'aaron dobson', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron dobson', 'Aaron Dobson', '2016', None, 'WR', None, None, 1, None, None, 0, 0, None, None, 43, 43, 43, 43, 8, 1.37, 1.37, 0, ''),
 (None, None, None, None, None, None, None, None, None, None, None, 617, 'Aaron Fuller', 'SEA', 'WR', 24, 1, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, None, 0, 0.0, 0, 0, None, None, None, None, None, None, None, 245, None, 'FullAa01', '2021', 'Aaron Fuller', 'false', 'false', None, None, None, None, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.0, None, 0.0, 0.0, None, None, None, 'aaron fuller', 'aaron fuller', 'Aaron Fuller', '2021', 'SEA', 'WR', '2021', '2021', 1, None, None, 0, 0, None, None, 251, 251, 251, 251, None, None, None, 0, ''),
 (None, None, None, None, None, None, None, None, None, None, None, 544, 'Aaron Green', 'LAR', 'RB', 24, 2, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, None, 0, None, 0, 0, None, None, None, None, None, None, None, 161, None, 'GreeAa01', '2016', 'Aaron Green', 'false', 'false', None, None, None, None, 0.13, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.0, None, 0.0, 0.0, None, None, None, 'aaron green', 'aaron green', 'Aaron Green', '2016', 'LAR', 'RB', '2016', '2016', 1, None, None, 0, 0, None, None, 158, 158, 158, 155, None, None, None, 0, ''),
 ('Aaron Hernandez', 385.0, None, 'TE44', 'TE', '44', '2017', 344.0, 5.0, '39', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2017', None, 'TE', None, None, 1, None, None, 0, 0, None, None, 95, 95, 95, 95, 8, 3.97, 3.97, 0, ''),
 ('Aaron Hernandez', 413.0, None, 'TE58', 'TE', '58', '2018', 400.0, 3.0, '42', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2018', None, 'TE', None, None, 2, None, None, 0, 0, None, None, 128, 128, 128, 128, 8, 2.77, 2.77, 0, ''),
 ('Aaron Hernandez', 416.0, None, 'TE46', 'TE', '46', '2019', 418.0, 6.0, '42', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2019', None, 'TE', None, None, 3, None, None, 0, 0, None, None, 179, 179, 179, 179, 8, 3.81, 3.81, 0, ''),
 ('Aaron Jones', 284.0, 'MIN', 'RB87', 'RB', '87', '2017', 248.5, 4.0, '29', 'aaron jones', 163, 'Aaron Jones', 'GNB', 'RB', 23, 12, 4, 0, 0, 0, 0, 0, 81, 448, 5.53, 4, 18, 9, 22, 2.44, 0, 0.0, 0, 4, None, None, 71.0, 80.0, 83.0, 75.5, None, 50, None, 'JoneAa00', '2017', 'Aaron Jones', 'false', 'false', 5.92, 17.75, 6.67, 75.5, 0.75, 0.0, 6.75, 1.5, 0.0, 0.0, 0.0, None, None, 0.333, 37.33, 112.0, 20.25, 0.75, 0.5, 0.0, 1.83, None, None, None, 'aaron jones', 'aaron jones', 'Aaron Jones', '2017', 'GNB', 'RB', '2017', '2023', 1, 12.08, 14.28, 0, 0, None, 'GNB', 63, 54, 60, 50, 8, 3.57, 3.57, 3.1, ''),
 ('Aaron Jones', 97.0, 'MIN', 'RB37', 'RB', '37', '2018', 98.5, 7.0, '10', 'aaron jones', 60, 'Aaron Jones', 'GNB', 'RB', 24, 12, 8, 0, 0, 0, 0, 0, 133, 728, 5.47, 8, 35, 26, 206, 7.92, 1, 1.0, 1, 9, None, None, 145.0, 171.4, 178.4, 158.4, 13.0, 23, 60.0, 'JoneAa00', '2018', 'Aaron Jones', 'false', 'false', 12.08, 18.13, 14.28, 158.0, 0.75, 0.0, 11.08, 2.92, 0.0, 0.0, 0.0, None, None, 0.667, 60.67, 91.0, 16.63, 2.167, 0.743, 0.0833, 17.17, 35.0, 26.0, 206.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2018', 'GNB', 'RB', '2017', '2023', 2, 16.63, 19.68, 5.92, 6.67, 'GNB', 'GNB', 17, 15, 24, 23, 8, 10.23, 3.56, 4.05, ''),
 ('Aaron Jones', 28.0, 'MIN', 'RB14', 'RB', '14', '2019', 28.0, 8.0, '3', 'aaron jones', 4, 'Aaron Jones', 'GNB', 'RB', 25, 16, 16, 0, 0, 0, 0, 0, 236, 1084, 4.59, 16, 68, 49, 474, 9.67, 3, 3.0, 2, 19, None, None, 266.0, 314.8, 322.8, 290.3, 125.0, 3, 4.0, 'JoneAa00', '2019', 'Aaron Jones', 'false', 'false', 16.63, 16.63, 19.68, 290.5, 1.0, 0.0, 14.75, 4.25, 0.0, 0.0, 0.0, None, None, 1.0, 67.75, 67.75, 14.75, 3.063, 0.721, 0.1875, 29.63, 22.67, 16.33, 158.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2019', 'GNB', 'RB', '2017', '2023', 3, 15.14, 18.49, 12.08, 14.28, 'GNB', 'GNB', 3, 4, 2, 3, 8, 14.9, 0.62, 4.78, ''),
 ('Aaron Jones', 20.0, 'MIN', 'RB13', 'RB', '13', '2020', 19.0, 10.0, '2', 'aaron jones', 13, 'Aaron Jones*', 'GNB', 'RB', 26, 14, 14, 0, 0, 0, 0, 0, 201, 1104, 5.49, 9, 63, 47, 355, 7.55, 2, 2.0, 0, 11, None, None, 212.0, 258.9, 264.9, 235.4, 82.0, 5, 13.0, 'JoneAa00', '2020', 'Aaron Jones', 'true', 'false', 15.14, 15.14, 18.49, 235.5, 0.88, 0.0, 14.36, 4.5, 0.0, 0.0, 0.0, None, None, 0.643, 78.86, 122.67, 22.33, 3.357, 0.746, 0.1429, 25.36, 31.5, 23.5, 177.5, 'aaron jones', 'aaron jones', 'Aaron Jones', '2020', 'GNB', 'RB', '2017', '2023', 4, 11.8, 15.27, 16.63, 19.68, 'GNB', 'GNB', 6, 7, 5, 5, 8, 15.09, -4.59, 3.4, ''),
 ('Aaron Jones', 7.0, 'GB', 'RB6', 'RB', '6', '2021', 7.5, 7.0, '1', 'aaron jones', 42, 'Aaron Jones', 'GNB', 'RB', 27, 15, 15, 0, 0, 0, 0, 0, 171, 799, 4.67, 4, 65, 52, 391, 7.52, 6, 2.0, 1, 10, None, None, 177.0, 229.0, 236.0, 203.0, 29.0, 13, 42.0, 'JoneAa00', '2021', 'Aaron Jones', 'false', 'false', 11.8, 11.8, 15.27, 203.0, 0.88, 0.0, 11.4, 4.33, 0.0, 0.0, 0.0, None, None, 0.267, 53.27, 199.75, 42.75, 3.467, 0.8, 0.4, 26.07, 10.83, 8.67, 65.17, 'aaron jones', 'aaron jones', 'Aaron Jones', '2021', 'GNB', 'RB', '2017', '2023', 5, 11.18, 14.62, 15.14, 18.49, 'GNB', 'GNB', 13, 15, 11, 13, 8, 18.55, 0.06, -3.28, ''),
 ('Aaron Jones', 17.0, 'MIN', 'RB10', 'RB', '10', '2022', 16.0, 7.0, '2', 'aaron jones', 26, 'Aaron Jones', 'GNB', 'RB', 28, 17, 17, 0, 0, 0, 0, 0, 213, 1121, 5.26, 2, 72, 59, 395, 6.69, 5, 5.0, 3, 7, 1.0, None, 190.0, 248.6, 257.6, 219.1, 46.0, 11, 26.0, 'JoneAa00', '2022', 'Aaron Jones', 'false', 'false', 11.18, 11.18, 14.62, 219.5, 1.0, 0.0, 12.53, 4.24, 0.0, 0.0, 0.0, None, None, 0.118, 65.94, 560.5, 106.5, 3.471, 0.819, 0.2941, 23.24, 14.4, 11.8, 79.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2022', 'GNB', 'RB', '2017', '2023', 6, 9.55, 12.26, 11.8, 15.27, 'GNB', 'GNB', 12, 16, 9, 11, 8, 16.13, 0.86, -1.51, ''),
 ('Aaron Jones', 37.0, 'MIN', 'RB14', 'RB', '14', '2023', 37.7, 7.0, '4', 'aaron jones', 119, 'Aaron Jones', 'GNB', 'RB', 29, 11, 11, 0, 0, 0, 0, 0, 142, 656, 4.62, 2, 43, 30, 233, 7.77, 1, 2.0, 1, 3, None, None, 105.0, 134.9, 141.9, 119.9, None, 36, None, 'JoneAa00', '2023', 'Aaron Jones', 'false', 'false', 9.55, 9.55, 12.26, 120.0, 0.65, 0.0, 12.91, 3.91, 0.0, 0.0, 0.0, None, None, 0.182, 59.64, 328.0, 71.0, 2.727, 0.698, 0.0909, 21.18, 43.0, 30.0, 233.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2023', 'GNB', 'RB', '2017', '2023', 7, None, None, 11.18, 14.62, 'GNB', 'MIN', 26, 30, 37, 36, 8, 14.9, 0.28, -2.64, ''),
 ('Aaron Jones', 64.0, 'MIN', 'RB18', 'RB', '18', '2024', 67.3, 4.0, '7', 'aaron jones', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron jones', 'Aaron Jones', '2024', 'MIN', 'RB', '2017', '2023', 8, None, None, 9.55, 12.26, 'GNB', None, 337, 337, 337, 337, 8, 13.95, 1.69, 0, ''),
 ('Aaron Murray', 504.0, None, 'QB63', 'QB', '63', '2016', 472.0, 4.0, '51', 'aaron murray', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron murray', 'Aaron Murray', '2016', None, 'QB', None, None, 1, None, None, 0, 0, None, None, 49, 49, 49, 49, 8, 1.38, 1.38, 0, ''),
 (None, None, None, None, None, None, None, None, None, None, None, 648, 'Aaron Parker', 'CAR', 'WR', 23, 1, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, None, 0, 0.0, 0, 0, None, None, None, None, None, None, None, 256, None, 'ParkAa01', '2021', 'Aaron Parker', 'false', 'false', None, None, None, None, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.0, None, 0.0, 0.0, None, None, None, 'aaron parker', 'aaron parker', 'Aaron Parker', '2021', 'CAR', 'WR', '2021', '2021', 1, None, None, 0, 0, None, None, 262, 262, 262, 262, None, None, None, 0, ''),
 (None, None, None, None, None, None, None, None, None, None, None, 257, 'Aaron Ripkowski', 'GNB', 'RB', 24, 16, 8, 0, 0, 0, 0, 0, 34, 150, 4.41, 2, 10, 9, 46, 5.11, 1, 0.0, 0, 3, None, None, 38.0, 46.6, 49.6, 42.1, None, 75, None, 'RipkAa00', '2016', 'Aaron Ripkowski', 'false', 'false', 2.38, 4.75, 2.91, 42.5, 1.0, 0.0, 2.13, 0.63, 0.0, 0.0, 0.0, None, None, 0.125, 9.38, 75.0, 17.0, 0.563, 0.9, 0.0625, 2.88, 10.0, 9.0, 46.0, 'aaron ripkowski', 'aaron ripkowski', 'Aaron Ripkowski', '2016', 'GNB', 'RB', '2016', '2017', 1, 0.31, 0.76, 0, 0, None, 'GNB', 97, 92, 74, 74, None, None, None, 0, ''),
 (None, None, None, None, None, None, None, None, None, None, None, 450, 'Aaron Ripkowski', 'GNB', 'RB', 25, 16, 2, 0, 0, 0, 0, 0, 5, 13, 2.6, 0, 10, 7, 39, 5.57, 0, 0.0, 0, 0, None, None, 5.0, 12.2, 12.2, 8.7, None, 131, None, 'RipkAa00', '2017', 'Aaron Ripkowski', 'false', 'false', 0.31, 2.5, 0.76, 8.5, 1.0, 0.0, 0.31, 0.63, 0.0, 0.0, 0.0, None, None, 0.0, 0.81, None, None, 0.438, 0.7, 0.0, 2.44, None, None, None, 'aaron ripkowski', 'aaron ripkowski', 'Aaron Ripkowski', '2017', 'GNB', 'RB', '2016', '2017', 2, None, None, 2.38, 2.91, 'GNB', None, 123, 129, 115, 126, None, None, None, 0, ''),
 ('Aaron Rodgers', 38.0, 'NYJ', 'QB2', 'QB', '2', '2016', 40.5, 8.0, '4', 'aaron rodgers', 3, 'Aaron Rodgers*', 'GNB', 'QB', 33, 16, 16, 401, 610, 4428, 40, 7, 67, 369, 5.51, 4, 0, 0, 0, None, 0, 8.0, 4, 4, 1.0, 1.0, 380.0, 380.0, 397.0, 387.0, 119.0, 1, 3.0, 'RodgAa00', '2016', 'Aaron Rodgers', 'true', 'false', 23.75, 23.75, 23.75, 380.0, 1.0, 38.13, 4.19, 0.0, 25.06, 276.75, 2.5, 0.0656, 15.25, 0.25, 23.06, 92.25, 16.75, 0.0, None, 0.0, 0.0, None, None, None, 'aaron rodgers', 'aaron rodgers', 'Aaron Rodgers', '2016', 'GNB', 'QB', '2016', '2023', 1, 18.57, 18.51, 0, 0, None, 'GNB', 1, 1, 1, 1, 8, 22.62, 22.62, 1.13, '')]

In [133]:
%%sql
PRAGMA table_info(nfl_adp_hype);

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[(0, 'adp_player', 'TEXT', 0, None, 0),
 (1, 'adp_ovr', 'REAL', 0, None, 0),
 (2, 'adp_team', 'TEXT', 0, None, 0),
 (3, 'adp_pos', 'TEXT', 0, None, 0),
 (4, 'adp_pos_only', '', 0, None, 0),
 (5, 'adp_pos_rank', '', 0, None, 0),
 (6, 'adp_year', 'TEXT', 0, None, 0),
 (7, 'adp_avg', 'REAL', 0, None, 0),
 (8, 'dr10_pick', '', 0, None, 0),
 (9, 'dr10', '', 0, None, 0),
 (10, 'adp_join_name', '', 0, None, 0),
 (11, 'ranker', 'INT', 0, None, 0),
 (12, 'player', 'TEXT', 0, None, 0),
 (13, 'team', 'TEXT', 0, None, 0),
 (14, 'fantasy_pos', 'TEXT', 0, None, 0),
 (15, 'age', 'INT', 0, None, 0),
 (16, 'g', 'INT', 0, None, 0),
 (17, 'gs', 'INT', 0, None, 0),
 (18, 'pass_cmp', 'INT', 0, None, 0),
 (19, 'pass_att', 'INT', 0, None, 0),
 (20, 'pass_yds', 'INT', 0, None, 0),
 (21, 'pass_td', 'INT', 0, None, 0),
 (22, 'pass_int', 'INT', 0, None, 0),
 (23, 'rush_att', 'INT', 0, None, 0),
 (24, 'rush_yds', 'INT', 0, None, 0),
 (25, 'rush_yds_per_att', 'REAL', 0, None, 0),
 (26, 'rush_td', 'INT', 0, None, 0),
 (27, 'targets', 'INT', 0, None, 0),
 (28, 'rec', 'INT', 0, None, 0),
 (29, 'rec_yds', 'INT', 0, None, 0),
 (30, 'rec_yds_per_rec', 'REAL', 0, None, 0),
 (31, 'rec_td', 'INT', 0, None, 0),
 (32, 'fumbles', 'REAL', 0, None, 0),
 (33, 'fumbles_lost', 'INT', 0, None, 0),
 (34, 'all_td', 'INT', 0, None, 0),
 (35, 'two_pt_md', 'REAL', 0, None, 0),
 (36, 'two_pt_pass', 'REAL', 0, None, 0),
 (37, 'fantasy_points', 'REAL', 0, None, 0),
 (38, 'fantasy_points_ppr', 'REAL', 0, None, 0),
 (39, 'draftkings_points', 'REAL', 0, None, 0),
 (40, 'fanduel_points', 'REAL', 0, None, 0),
 (41, 'vbd', 'REAL', 0, None, 0),
 (42, 'fantasy_rank_pos', 'INT', 0, None, 0),
 (43, 'fantasy_rank_overall', 'REAL', 0, None, 0),
 (44, 'player_id', 'TEXT', 0, None, 0),
 (45, 'Year', 'TEXT', 0, None, 0),
 (46, 'cleaned_player', '', 0, None, 0),
 (47, 'pro_bowl', '', 0, None, 0),
 (48, 'all_pro', '', 0, None, 0),
 (49, 'fppg', '', 0, None, 0),
 (50, 'fppgs', '', 0, None, 0),
 (51, 'fppg_ppr', '', 0, None, 0),
 (52, 'fantasy_points_hppr', '', 0, None, 0),
 (53, 'pgp', '', 0, None, 0),
 (54, 'pass_att_pg', '', 0, None, 0),
 (55, 'rush_att_pg', '', 0, None, 0),
 (56, 'targets_pg', '', 0, None, 0),
 (57, 'pass_cmp_pg', '', 0, None, 0),
 (58, 'pass_yds_pg', '', 0, None, 0),
 (59, 'pass_td_pg', '', 0, None, 0),
 (60, 'pass_td_rate', '', 0, None, 0),
 (61, 'pass_att_ptd', '', 0, None, 0),
 (62, 'rush_td_pg', '', 0, None, 0),
 (63, 'rush_yds_pg', '', 0, None, 0),
 (64, 'rush_yds_per_td', '', 0, None, 0),
 (65, 'rush_att_per_td', '', 0, None, 0),
 (66, 'rec_pg', '', 0, None, 0),
 (67, 'catch_rate', '', 0, None, 0),
 (68, 'rec_td_pg', '', 0, None, 0),
 (69, 'rec_yds_pg', '', 0, None, 0),
 (70, 'tar_per_td', '', 0, None, 0),
 (71, 'rec_per_td', '', 0, None, 0),
 (72, 'rec_yds_per_td', '', 0, None, 0),
 (73, 'nfl_join_name', '', 0, None, 0),
 (74, 'name', '', 0, None, 0),
 (75, 'c_player', '', 0, None, 0),
 (76, 'c_year', '', 0, None, 0),
 (77, 'c_team', '', 0, None, 0),
 (78, 'c_pos', '', 0, None, 0),
 (79, 'fyd', '', 0, None, 0),
 (80, 'lyd', '', 0, None, 0),
 (81, 'yid', '', 0, None, 0),
 (82, 'next_fppg', '', 0, None, 0),
 (83, 'next_fppg_ppr', '', 0, None, 0),
 (84, 'prior_fppg', '', 0, None, 0),
 (85, 'prior_fppg_ppr', '', 0, None, 0),
 (86, 'team_year_prior', '', 0, None, 0),
 (87, 'team_next_year', '', 0, None, 0),
 (88, 'actual_pos_fin_fppg_ppr', '', 0, None, 0),
 (89, 'actual_pos_fin_fppg_std', '', 0, None, 0),
 (90, 'actual_pos_fin_tot_ppr', '', 0, None, 0),
 (91, 'actual_pos_fin_tot_std', '', 0, None, 0),
 (92, 'n_in_exp_fppg_ppr', '', 0, None, 0),
 (93, 'exp_fppg_ppr', '', 0, None, 0),
 (94, 'pick_hype', '', 0, None, 0),
 (95, 'pick_accuracy', '', 0, None, 0),
 (96, 'team_change', '', 0, None, 0)]

In [155]:
%%sql
SELECT
    IIF(c_team LIKE '%TM',team_year_prior,c_team) AS fill_team,
    c_year,
    c_pos,
    COUNT(1) AS players_drafted,
    MIN((IIF(depth_rank_adp=1,adp_ovr,NULL))) AS adp_ovr_depth1,
MIN((IIF(depth_rank_adp=2,adp_ovr,NULL))) AS adp_ovr_depth2,
MIN((IIF(depth_rank_adp=3,adp_ovr,NULL))) AS adp_ovr_depth3,

MIN((IIF(depth_rank_adp=1,age,NULL))) AS age_depth1,
MIN((IIF(depth_rank_adp=2,age,NULL))) AS age_depth2,
MIN((IIF(depth_rank_adp=3,age,NULL))) AS age_depth3,

MIN((IIF(depth_rank_adp=1,g,NULL))) AS g_depth1,
MIN((IIF(depth_rank_adp=2,g,NULL))) AS g_depth2,
MIN((IIF(depth_rank_adp=3,g,NULL))) AS g_depth3,

MIN((IIF(depth_rank_adp=1,adp_pos_rank,NULL))) AS adp_pos_rank_d1,
MIN((IIF(depth_rank_adp=2,adp_pos_rank,NULL))) AS adp_pos_rank_d2,
MIN((IIF(depth_rank_adp=3,adp_pos_rank,NULL))) AS adp_pos_rank_d3
FROM nfl_adp_hype
WHERE
    c_team IS NOT NULL
    AND c_pos = 'RB'
    AND c_team = 'LAR'
GROUP BY 1, 2, 3
ORDER BY 2 DESC, 1 ASC
LIMIT 30

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('LAR', '2024', 'RB', 2, 20.0, 115.0, None, None, None, None, None, None, None, 7, 36, None),
 ('LAR', '2023', 'RB', 5, 257.0, 274.0, None, 23, 22, None, 12, 10, None, 71, 73, None),
 ('LAR', '2022', 'RB', 5, 43.0, 116.0, None, 23, 25, None, 15, 10, None, 20, 40, None),
 ('LAR', '2021', 'RB', 5, 45.0, 97.0, None, 24, 26, None, 12, 17, None, 22, 39, None),
 ('LAR', '2020', 'RB', 5, 60.0, 124.0, 245.0, 21, 23, 27, 13, 15, 16, 25, 45, 73),
 ('LAR', '2019', 'RB', 4, 14.0, 120.0, 190.0, 25, 22, 26, 15, 13, 14, 9, 43, 60),
 ('LAR', '2018', 'RB', 4, 1.0, 217.0, 297.0, 24, 22, 25, 14, 4, 12, 1, 67, 80),
 ('LAR', '2017', 'RB', 4, 18.0, 395.0, None, 23, 24, None, 15, 11, None, 10, 114, None),
 ('LAR', '2016', 'RB', 6, 4.0, 256.0, None, 22, 26, None, 16, 11, None, 1, 80, None)]

In [153]:
%%sql
SELECT
    IIF(c_team LIKE '%TM',team_year_prior,c_team) AS fill_team,
    c_year,
    c_pos,
    name,
    adp_ovr,
    fantasy_points_ppr,
    depth_rank_tot,
    fppg_ppr,
    depth_rank_ppg_ppr,
    depth_rank_adp
FROM nfl_adp_hype
WHERE 1=1
    AND c_pos = 'RB'
    AND C_team = 'LAR'
ORDER BY fppg_ppr DESC 
LIMIT 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('LAR', '2018', 'RB', 'todd gurley', 1.0, 372.1, 1, 26.58, 1, 1),
 ('LAR', '2017', 'RB', 'todd gurley', 18.0, 383.3, 1, 25.55, 1, 1),
 ('LAR', '2023', 'RB', 'kyren williams', 257.0, 255.0, 1, 21.25, 1, 1),
 ('LAR', '2019', 'RB', 'todd gurley', 14.0, 219.4, 1, 14.63, 1, 1),
 ('LAR', '2021', 'RB', 'darrell henderson', 45.0, 163.4, 1, 13.62, 1, 1),
 ('LAR', '2016', 'RB', 'todd gurley', 4.0, 198.2, 1, 12.39, 1, 1),
 ('LAR', '2023', 'RB', 'darrell henderson', None, 43.5, 3, 10.88, 2, None),
 ('LAR', '2022', 'RB', 'cam akers', 43.0, 141.3, 1, 9.42, 1, 1),
 ('LAR', '2020', 'RB', 'darrell henderson', 124.0, 130.3, 1, 8.69, 1, 2),
 ('LAR', '2021', 'RB', 'sony michel', 97.0, 146.3, 2, 8.61, 2, 2)]

In [166]:
%%sql
SELECT * 
FROM nfl_window_stats
limit 10

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('Aaron Burbridge', 473.0, None, 'WR170', 'WR', 170, '2016', 440.0, 3.0, '48', 'aaron burbridge', 422, 'Aaron Burbridge', 'SFO', 'WR', 23, 16, 3, 0, 0, 0, 0, 0, 0, 0, None, 0, 16, 7, 88, 12.57, 0, 1.0, 1, 0, None, None, 7.0, 13.8, 14.8, 10.3, None, 171, None, 'BurbAa00', '2016', 'Aaron Burbridge', 'false', 'false', 0.44, 2.33, 0.86, 10.5, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.438, 0.438, 0.0, 5.5, None, None, None, 'aaron burbridge', 'aaron burbridge', 'Aaron Burbridge', '2016', 'SFO', 'WR', '2016', '2016', 1, None, None, 0, 0, None, None, 'SFO', 183, 188, 165, 169),
 ('Aaron Dobson', 483.0, None, 'WR175', 'WR', 175, '2016', 450.0, 3.0, '49', 'aaron dobson', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron dobson', 'Aaron Dobson', '2016', None, 'WR', None, None, 1, None, None, 0, 0, None, None, None, 43, 43, 43, 43),
 (None, None, None, None, None, None, None, None, None, None, None, 617, 'Aaron Fuller', 'SEA', 'WR', 24, 1, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, None, 0, 0.0, 0, 0, None, None, None, None, None, None, None, 245, None, 'FullAa01', '2021', 'Aaron Fuller', 'false', 'false', None, None, None, None, 0.06, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.0, None, 0.0, 0.0, None, None, None, 'aaron fuller', 'aaron fuller', 'Aaron Fuller', '2021', 'SEA', 'WR', '2021', '2021', 1, None, None, 0, 0, None, None, 'SEA', 251, 251, 251, 251),
 (None, None, None, None, None, None, None, None, None, None, None, 544, 'Aaron Green', 'LAR', 'RB', 24, 2, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, None, 0, None, 0, 0, None, None, None, None, None, None, None, 161, None, 'GreeAa01', '2016', 'Aaron Green', 'false', 'false', None, None, None, None, 0.13, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, None, None, 0.0, 0.0, None, None, 0.0, None, 0.0, 0.0, None, None, None, 'aaron green', 'aaron green', 'Aaron Green', '2016', 'LAR', 'RB', '2016', '2016', 1, None, None, 0, 0, None, None, 'LAR', 158, 158, 158, 155),
 ('Aaron Hernandez', 385.0, None, 'TE44', 'TE', 44, '2017', 344.0, 5.0, '39', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2017', None, 'TE', None, None, 1, None, None, 0, 0, None, None, None, 95, 95, 95, 95),
 ('Aaron Hernandez', 413.0, None, 'TE58', 'TE', 58, '2018', 400.0, 3.0, '42', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2018', None, 'TE', None, None, 2, None, None, 0, 0, None, None, None, 128, 128, 128, 128),
 ('Aaron Hernandez', 416.0, None, 'TE46', 'TE', 46, '2019', 418.0, 6.0, '42', 'aaron hernandez', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'aaron hernandez', 'Aaron Hernandez', '2019', None, 'TE', None, None, 3, None, None, 0, 0, None, None, None, 179, 179, 179, 179),
 ('Aaron Jones', 284.0, 'MIN', 'RB87', 'RB', 87, '2017', 248.5, 4.0, '29', 'aaron jones', 163, 'Aaron Jones', 'GNB', 'RB', 23, 12, 4, 0, 0, 0, 0, 0, 81, 448, 5.53, 4, 18, 9, 22, 2.44, 0, 0.0, 0, 4, None, None, 71.0, 80.0, 83.0, 75.5, None, 50, None, 'JoneAa00', '2017', 'Aaron Jones', 'false', 'false', 5.92, 17.75, 6.67, 75.5, 0.75, 0.0, 6.75, 1.5, 0.0, 0.0, 0.0, None, None, 0.333, 37.33, 112.0, 20.25, 0.75, 0.5, 0.0, 1.83, None, None, None, 'aaron jones', 'aaron jones', 'Aaron Jones', '2017', 'GNB', 'RB', '2017', '2023', 1, 12.08, 14.28, 0, 0, None, 'GNB', 'GNB', 63, 54, 60, 50),
 ('Aaron Jones', 97.0, 'MIN', 'RB37', 'RB', 37, '2018', 98.5, 7.0, '10', 'aaron jones', 60, 'Aaron Jones', 'GNB', 'RB', 24, 12, 8, 0, 0, 0, 0, 0, 133, 728, 5.47, 8, 35, 26, 206, 7.92, 1, 1.0, 1, 9, None, None, 145.0, 171.4, 178.4, 158.4, 13.0, 23, 60.0, 'JoneAa00', '2018', 'Aaron Jones', 'false', 'false', 12.08, 18.13, 14.28, 158.0, 0.75, 0.0, 11.08, 2.92, 0.0, 0.0, 0.0, None, None, 0.667, 60.67, 91.0, 16.63, 2.167, 0.743, 0.0833, 17.17, 35.0, 26.0, 206.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2018', 'GNB', 'RB', '2017', '2023', 2, 16.63, 19.68, 5.92, 6.67, 'GNB', 'GNB', 'GNB', 17, 15, 24, 23),
 ('Aaron Jones', 28.0, 'MIN', 'RB14', 'RB', 14, '2019', 28.0, 8.0, '3', 'aaron jones', 4, 'Aaron Jones', 'GNB', 'RB', 25, 16, 16, 0, 0, 0, 0, 0, 236, 1084, 4.59, 16, 68, 49, 474, 9.67, 3, 3.0, 2, 19, None, None, 266.0, 314.8, 322.8, 290.3, 125.0, 3, 4.0, 'JoneAa00', '2019', 'Aaron Jones', 'false', 'false', 16.63, 16.63, 19.68, 290.5, 1.0, 0.0, 14.75, 4.25, 0.0, 0.0, 0.0, None, None, 1.0, 67.75, 67.75, 14.75, 3.063, 0.721, 0.1875, 29.63, 22.67, 16.33, 158.0, 'aaron jones', 'aaron jones', 'Aaron Jones', '2019', 'GNB', 'RB', '2017', '2023', 3, 15.14, 18.49, 12.08, 14.28, 'GNB', 'GNB', 'GNB', 3, 4, 2, 3)]

In [175]:
%%sql
SELECT * 
FROM nfl_position_groups
WHERE TEAM IS NOT NULL AND TEAM != '2TM' AND TEAM = 'ARI' AND c_pos != 'TE'
order by c_pos,c_year DESC
limit 30

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
Done.

[('ARI', '2018', 'FB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 2, 2, 0, 7, 7, 37, 0, 0.0, 0, 0, 10.9, 1.09, None, None, 0, 1),
 ('ARI', '2021', 'PK', 178.0, None, None, None, None, None, None, None, None, 9, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 1),
 ('ARI', '2024', 'QB', 71.0, None, None, None, None, None, None, None, None, 8, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 19.28, 0.98, 0, 1),
 ('ARI', '2023', 'QB', 203.0, 273.0, None, 26, 24, None, 8, 7, None, 29, 36, None, 5, 1, None, 188, 289, 1861, 10, 7, 52, 274, 4, 0, 0, 0, 0, 9.0, 1, 4, 153.9, 19.37, 24.82, 6.59, -5.449999999999999, 2),
 ('ARI', '2022', 'QB', 55.0, None, None, 25, None, None, 11, None, None, 5, None, None, 4, None, None, 432, 663, 3962, 17, 17, 100, 520, 3, 0, 0, 0, 0, 13.0, 5, 3, 260.5, 37.160000000000004, 20.84, -0.62, -2.61, 4),
 ('ARI', '2021', 'QB', 42.0, None, None, 24, None, None, 14, None, None, 3, None, None, 3, None, None, 413, 589, 4563, 27, 11, 113, 466, 5, 0, 0, 7, 0, 18.0, 1, 5, 343.8, 27.62, 22.24, -1.43, -0.78, 3),
 ('ARI', '2020', 'QB', 57.0, None, None, 23, None, None, 16, None, None, 5, None, None, 2, None, None, 386, 574, 4076, 27, 13, 137, 834, 11, 0, 0, 0, 0, 10.0, 4, 11, 386.4, 25.21, 20.84, 3.01, 2.83, 2),
 ('ARI', '2019', 'QB', 97.0, None, None, 22, None, None, 16, None, None, 11, None, None, 1, None, None, 354, 553, 3771, 20, 12, 100, 585, 4, 0, 0, 0, 0, 5.0, 2, 4, 291.40000000000003, 19.86, 18.54, 18.54, -0.71, 2),
 ('ARI', '2018', 'QB', 256.0, 313.0, None, 31, 21, None, 3, 14, None, 31, 37, None, 3, 1, None, 282, 494, 2852, 14, 18, 25, 145, 0, 0, 0, 0, 0, 13.0, 7, 0, 136.60000000000002, 17.79, 24.2, 10.7, -11.91, 3),
 ('ARI', '2017', 'QB', 136.0, None, None, 38, None, None, 7, None, None, 18, None, None, 2, None, None, 338, 597, 3958, 21, 18, 45, 101, 0, 0, 0, 0, 0, 12.0, 2, 0, 214.4, 37.03, 16.31, 0.1, -1.7, 3),
 ('ARI', '2016', 'QB', 79.0, 509.0, None, 37, 32, None, 15, 5, None, 8, 67, None, 1, 1, None, 383, 645, 4425, 28, 17, 17, 35, 0, 0, 0, 0, 0, 14.0, 4, 0, 252.5, 18.09, 20.1, 20.1, -2.01, 2),
 ('ARI', '2024', 'RB', 81.0, 112.0, 302.0, None, None, None, None, None, None, 24, 35, 85, 8, 1, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 26.63, 5.890000000000001, 0, 3),
 ('ARI', '2023', 'RB', 59.0, 277.0, None, 28, 24, None, 13, 8, None, 23, 74, None, 7, 2, None, 0, 0, 0, 0, 0, 312, 1441, 9, 69, 54, 322, 2, 0.0, 0, 11, 296.3, 24.990000000000002, 17.64, 0.73, -0.3900000000000001, 5),
 ('ARI', '2022', 'RB', 28.0, 72.0, None, 23, 26, None, 13, 6, None, 16, 27, None, 3, 5, None, 0, 0, 0, 0, 0, 396, 1582, 14, 140, 103, 746, 2, 3.0, 1, 16, 431.8, 36.69, 38.379999999999995, -5.38, -7.78, 8),
 ('ARI', '2021', 'RB', 62.0, 101.0, None, 25, 26, None, 12, 15, None, 28, 40, None, 4, 5, None, 0, 0, 0, 0, 0, 361, 1495, 18, 103, 89, 762, 3, 3.0, 1, 21, 438.7, 32.98, 21.369999999999997, -1.7899999999999998, 7.75, 5),
 ('ARI', '2020', 'RB', 15.0, 143.0, None, 26, 24, None, 15, 16, None, 11, 48, None, 5, 3, None, 0, 0, 0, 0, 0, 336, 1403, 11, 99, 79, 550, 5, 5.0, 1, 16, 368.3, 23.89, 23.86, 2.19, -0.5500000000000003, 3),
 ('ARI', '2019', 'RB', 5.0, 232.0, 250.0, 28, 23, 31, 13, 13, 1, 5, 70, 79, 4, 2, 4, 0, 0, 0, 0, 0, 155, 652, 6, 68, 48, 475, 5, 1.0, 1, 11, 224.70000000000002, 17.65, 29.13, 4.1000000000000005, -11.48, 3),
 ('ARI', '2018', 'RB', 3.0, 287.0, None, 27, 22, None, 16, 16, None, 3, 79, None, 3, 1, None, 0, 0, 0, 0, 0, 320, 1151, 9, 102, 72, 566, 3, 4.0, 2, 12, 313.7, 19.6, 25.459999999999997, 12.46, -6.11, 3),
 ('ARI', '2017', 'RB', 1.0, 253.0, 301.0, 26, 26, 32, 1, 16, 4, 1, 80, 92, 2, 2, 2, 0, 0, 0, 0, 0, 228, 740, 4, 95, 64, 610, 0, 2.0, 1, 4, 221.0, 31.61, 33.54, 25.67, -11.120000000000001, 6),
 ('ARI', '2016', 'RB', 7.0, 166.0, 251.0, 25, 31, 27, 16, 4, 16, 2, 56, 77, 1, 1, 1, 0, 0, 0, 0, 0, 374, 1599, 19, 142, 93, 970, 4, 5.0, 3, 23, 483.90000000000003, 34.26, 34.79, 34.79, -3.4599999999999995, 5),
 ('ARI', '2024', 'WR', 16.0, 158.0, 211.0, None, None, None, None, None, None, 10, 67, 83, 1, 2, 8, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 37.8, 16.28, 0, 4),
 ('ARI', '2023', 'WR', 86.0, 213.0, 275.0, 26, 23, 23, 14, 17, 13, 36, 66, 87, 5, 3, 1, 0, 0, 0, 0, 0, 31, 206, 1, 277, 157, 1790, 10, 1.0, 0, 11, 424.59999999999997, 29.060000000000002, 27.139999999999997, 3.15, -2.53, 6),
 ('ARI', '2022', 'WR', 66.0, 93.0, 170.0, 25, 30, 22, 12, 9, 8, 27, 36, 61, 4, 7, 2, 0, 0, 0, 0, 0, 19, 56, 0, 387, 259, 2615, 11, 4.0, 2, 11, 590.1, 55.129999999999995, 47.93, 1.4799999999999995, -1.5299999999999994, 9),
 ('ARI', '2021', 'WR', 17.0, 161.0, 182.0, 29, 21, 33, 10, 14, 16, 4, 59, 63, 6, 1, 6, 1, 1, 33, 0, 0, 20, 111, 0, 411, 285, 3481, 20, 4.0, 2, 20, 763.4999999999999, 56.93000000000001, 37.43, 12.48, -5.119999999999999, 8),
 ('ARI', '2020', 'WR', 16.0, 115.0, 174.0, 28, 24, 37, 16, 14, 13, 5, 44, 60, 5, 3, 5, 0, 0, 0, 0, 0, 6, 0, 0, 377, 259, 2891, 15, 5.0, 2, 15, 634.0999999999999, 45.33, 45.58, 1.29, -5.15, 7),
 ('ARI', '2019', 'WR', 84.0, 100.0, 231.0, 23, 36, 23, 13, 16, 15, 34, 40, 80, 2, 4, 1, 0, 0, 0, 0, 0, 15, 111, 0, 336, 213, 2350, 10, 3.0, 3, 10, 517.1, 41.38, 40.79, 10.599999999999998, -6.699999999999999, 8),
 ('ARI', '2018', 'WR', 37.0, 182.0, 322.0, 35, 22, 26, 16, 12, 14, 16, 68, 112, 3, 1, 3, 1, 1, 32, 1, 0, 8, 44, 0, 279, 158, 1806, 11, 0.0, 0, 11, 416.29999999999995, 32.73, 32.129999999999995, 8.379999999999999, -5.17, 7),
 ('ARI', '2017', 'WR', 47.0, 117.0, 199.0, 34, 27, 25, 16, 10, 16, 22, 46, 70, 2, 2, 2, 1, 1, 21, 0, 0, 12, 99, 0, 392, 216, 2720, 15, 2.0, 2, 15, 586.7, 43.3, 40.1, 3.58, -4.51, 8),
 ('ARI', '2016', 'WR', 55.0, 72.0, 276.0, 33, 26, 24, 16, 15, 15, 27, 33, 94, 1, 1, 1, 0, 1, 0, 0, 0, 7, 98, 1, 337, 201, 2427, 16, 5.0, 3, 17, 549.5, 39.599999999999994, 34.96, 34.96, 1.5600000000000003, 6)]

In [164]:
%%sql
SELECT
    fill_team AS team,
    c_year,
    c_pos,
    -- OVERALL ADP FOR THE PLAYER IN DEPTH 1, 2, 3 OF EACH POSITION GROUP FOR THAT TEAM
    MIN((IIF(depth_rank_adp=1,adp_ovr,NULL))) AS adp_ovr_depth1,
    MIN((IIF(depth_rank_adp=2,adp_ovr,NULL))) AS adp_ovr_depth2,
    MIN((IIF(depth_rank_adp=3,adp_ovr,NULL))) AS adp_ovr_depth3,
    -- AGE OF THE PLAYER FOR THE ADP OF 1, 2, 3 ON EACH POSITION GROUP
    MIN((IIF(depth_rank_adp=1,age,NULL))) AS age_depth1,
    MIN((IIF(depth_rank_adp=2,age,NULL))) AS age_depth2,
    MIN((IIF(depth_rank_adp=3,age,NULL))) AS age_depth3,
    -- GAMES PLAYED FOR THE ADP OF 1, 2, 3 ON EACH TEAMS POSITION GROUP
    MIN((IIF(depth_rank_adp=1,g,NULL))) AS g_depth1,
    MIN((IIF(depth_rank_adp=2,g,NULL))) AS g_depth2,
    MIN((IIF(depth_rank_adp=3,g,NULL))) AS g_depth3,
    -- ADP OF THE PLAYERS POSITION GROUP FOR THE 1, 2, 3RD RANKED DEPTH ON EACH TEAM
    MIN((IIF(depth_rank_adp=1,adp_pos_rank,NULL))) AS adp_pos_rank_d1,
    MIN((IIF(depth_rank_adp=2,adp_pos_rank,NULL))) AS adp_pos_rank_d2,
    MIN((IIF(depth_rank_adp=3,adp_pos_rank,NULL))) AS adp_pos_rank_d3,
    -- THE SEASON OF THE PLAYER IN ADP RANK 1, 2, 3
    MIN((IIF(depth_rank_adp=1,yid,NULL))) AS yid_d1,
    MIN((IIF(depth_rank_adp=2,yid,NULL))) AS yid_d2,
    MIN((IIF(depth_rank_adp=3,yid,NULL))) AS yid_d3,
    -- QB STATS
    SUM(pass_cmp) AS tot_pass_cmp,
    SUM(pass_att) AS tot_pass_att,
    SUM(pass_yds) AS tot_pass_yds,
    SUM(pass_td) AS tot_pass_td,
    SUM(pass_int) AS tot_pass_int,
    -- RB STATS
    SUM(rush_att) AS tot_rush_att,
    SUM(rush_yds) AS tot_rush_yds,
    SUM(rush_td) AS tot_rush_td,
    -- WR STATS
    SUM(targets) AS tot_targets,
    SUM(rec) AS tot_rec,
    SUM(rec_yds) AS tot_rec_yds,
    SUM(rec_td) AS tot_rec_td,
    -- OTHER 
    SUM(fumbles) AS tot_fumbles,
    SUM(fumbles_lost) AS tot_fumbles_lost,
    SUM(all_td) AS tot_all_td,
    -- POINTS
    SUM(fantasy_points_ppr) AS tot_fantasy_points_ppr,
    SUM(fppg_ppr) AS tot_fppg_ppr,
    SUM(exp_fppg_ppr) AS tot_exp_fppg_ppr,
    SUM(pick_hype) AS tot_pick_hype,
    SUM(pick_accuracy) AS tot_pick_accuracy,
    -- OTHER
    -- NUMBER OF PLAYERS TRADED
    SUM(IIF(team_change IS NOT NULL,1,0)) AS cnt_team_change
FROM nfl_adp_hype

 * sqlite:////Users/beoconno/Documents/ff/ff_data/raw_data/nfl/src_code/nfl.db
(sqlite3.OperationalError) no such column: fill_team
[SQL: SELECT
    fill_team AS team,
    c_year,
    c_pos,
    -- OVERALL ADP FOR THE PLAYER IN DEPTH 1, 2, 3 OF EACH POSITION GROUP FOR THAT TEAM
    MIN((IIF(depth_rank_adp=1,adp_ovr,NULL))) AS adp_ovr_depth1,
    MIN((IIF(depth_rank_adp=2,adp_ovr,NULL))) AS adp_ovr_depth2,
    MIN((IIF(depth_rank_adp=3,adp_ovr,NULL))) AS adp_ovr_depth3,
    -- AGE OF THE PLAYER FOR THE ADP OF 1, 2, 3 ON EACH POSITION GROUP
    MIN((IIF(depth_rank_adp=1,age,NULL))) AS age_depth1,
    MIN((IIF(depth_rank_adp=2,age,NULL))) AS age_depth2,
    MIN((IIF(depth_rank_adp=3,age,NULL))) AS age_depth3,
    -- GAMES PLAYED FOR THE ADP OF 1, 2, 3 ON EACH TEAMS POSITION GROUP
    MIN((IIF(depth_rank_adp=1,g,NULL))) AS g_depth1,
    MIN((IIF(depth_rank_adp=2,g,NULL))) AS g_depth2,
    MIN((IIF(depth_rank_adp=3,g,NULL))) AS g_depth3,
    -- ADP OF THE PLAYERS POSITION GROUP FOR THE 1, 2, 3RD RANKED DEPTH ON EACH TEAM
    MIN((IIF(depth_rank_adp=1,adp_pos_rank,NULL))) AS adp_pos_rank_d1,
    MIN((IIF(depth_rank_adp=2,adp_pos_rank,NULL))) AS adp_pos_rank_d2,
    MIN((IIF(depth_rank_adp=3,adp_pos_rank,NULL))) AS adp_pos_rank_d3,
    -- THE SEASON OF THE PLAYER IN ADP RANK 1, 2, 3
    MIN((IIF(depth_rank_adp=1,yid,NULL))) AS yid_d1,
    MIN((IIF(depth_rank_adp=2,yid,NULL))) AS yid_d2,
    MIN((IIF(depth_rank_adp=3,yid,NULL))) AS yid_d3,
    -- QB STATS
    SUM(pass_cmp) AS tot_pass_cmp,
    SUM(pass_att) AS tot_pass_att,
    SUM(pass_yds) AS tot_pass_yds,
    SUM(pass_td) AS tot_pass_td,
    SUM(pass_int) AS tot_pass_int,
    -- RB STATS
    SUM(rush_att) AS tot_rush_att,
    SUM(rush_yds) AS tot_rush_yds,
    SUM(rush_td) AS tot_rush_td,
    -- WR STATS
    SUM(targets) AS tot_targets,
    SUM(rec) AS tot_rec,
    SUM(rec_yds) AS tot_rec_yds,
    SUM(rec_td) AS tot_rec_td,
    -- OTHER
    SUM(fumbles) AS tot_fumbles,
    SUM(fumbles_lost) AS tot_fumbles_lost,
    SUM(all_td) AS tot_all_td,
    -- POINTS
    SUM(fantasy_points_ppr) AS tot_fantasy_points_ppr,
    SUM(fppg_ppr) AS tot_fppg_ppr,
    SUM(exp_fppg_ppr) AS tot_exp_fppg_ppr,
    SUM(pick_hype) AS tot_pick_hype,
    SUM(pick_accuracy) AS tot_pick_accuracy,
    -- OTHER
    -- NUMBER OF PLAYERS TRADED
    SUM(IIF(team_change IS NOT NULL,1,0)) AS cnt_team_change
FROM nfl_adp_hype]
(Background on this error at: https://sqlalche.me/e/20/e3q8)